.centerP {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.centerL {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}